{% extends 'base.html' %}
{% load app_filters %}
{% load staticfiles %}
{% block page_title %} Case Record Sheet {% endblock %}
{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-multiselect/dist/css/bootstrap-multiselect.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery.tagit.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet" />
<style type="text/css">
.dialog_paragraph {
  color: #f00;
}
</style>
{% endblock %}

{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
	<li><a href="#">Home</a></li>
	<li class="active">Forms</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Forms <small>Edit Case Record Sheet</small></h1>
<!-- end page-header -->
<div id="messages" class="alert alert-danger fade in" style="display: none;" tabindex="1">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <p class="invalid-form-message"></p>
</div>

<!-- begin row -->
<div id='case_details' class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-expand"><i class="fa fa-minus"></i></a>
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title"><b>Case Details</b></h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal form-bordered" action="." method="POST" data-parsley-validate="true"
                name="form-wizard3" id="edit_case_record">

                	{% csrf_token %}

					<div id="wizard3">
						<ol>
							<li>
							    Case Reporting 
							    <small>Reporter and additional details.</small>

							</li>
							<li>
							    About the Child 
							    <small>Name and additional details.</small>

							</li>
							<li>
							    Medical
							    <small>Medical history and additional details.</small>
							</li>
							<li>
							    Case Data
							    <small>Case type and additional details.</small>
							</li>
							<li>
							    Referrals / Interventions
							    <small>Case referrals/interventions and additional details.</small>
							</li>
						</ol>

						<!-- begin wizard step-1 -->
						<div class="wizard-step-1">
                            <fieldset>
                                <legend class="pull-left width-full">Case Reporting</legend>
                                <div class="row"> 
                                	<!-- Create/Pick FK -->
									{{ form.person }} 
									<div class="form-group"> 
										<label class="control-label col-md-4 col-sm-4" for="case_reporter_first_name">Self-Reported * :</label>
										<div class="checkboxcol-md-6 col-sm-6">
				                            <label>
				                                {{ form.self_reporter }} <span id="checkbox_text">(Please uncheck to capture Reporter)</span>
				                            </label>
				                        </div>   
                                        <a href="#" data-toggle="tooltip" title="Check this for self-reporting"><i class="fa fa-info-circle fa-sm"></i></a>
                                    </div>                   
                                    <div  id="div_reporter_names" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="case_reporter_first_name">Reporter Name(s) * :</label>
                                        <div class="col-md-2 col-sm-6">
                                                <b>{{ form.case_reporter_first_name }}</b>
                                        </div>
                                        <div class="col-md-2 col-sm-6">
                                                <b>{{ form.case_reporter_other_names }}</b>
                                        </div>  
                                        <div class="col-md-2 col-sm-6">
                                                <b>{{ form.case_reporter_surname }}</b>
                                        </div>
                                        <a href="#" data-toggle="tooltip" title="Enter reporter names"><i class="fa fa-info-circle fa-sm"></i></a>
                                    </div>                                  
                                    <div id="div_reporter_contacts" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="case_reporter_contacts">Reporter Contacts * :</label>
                                        <div class="col-md-6 col-sm-6">
                                                <b>{{ form.case_reporter_contacts }}</b>
                                        </div>                                      
                                        <a href="#" data-toggle="tooltip" title="Enter reporter contacts"><i class="fa fa-info-circle fa-sm"></i></a>
                                    </div>
                                    <div id="div_reporter_relationship_to_child" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="case_reporter_relationship_to_child">Reporter Relationship To Child * :</label>
                                        <div class="col-md-6 col-sm-6">
                                                <b>{{ form.case_reporter_relationship_to_child }}</b>
                                        </div>                                      
                                        <a href="#" data-toggle="tooltip" title="Enter reporter relationship to child"><i class="fa fa-info-circle fa-sm"></i></a>
                                    </div>  
									<div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="date_case_opened">Date Case Opened * :</label>
                                        <div class="col-md-6 col-sm-6">
                                                <b>{{ form.date_case_opened }}</b>
                                        </div>
                                        <a href="#" data-toggle="tooltip" title="Enter date case was opened"><i class="fa fa-info-circle fa-sm"></i></a>
                                    </div>                                                 
                                </div>
                                <!-- end row -->
							</fieldset>
						</div>
						<!-- end wizard step-1 -->

						<!-- begin wizard step-2 -->
						<div class="wizard-step-2">
                            <fieldset>
                                <legend class="pull-left width-full">About the Child</legend>
                                <div class="row"> 
									<div class="form-group">
										<label class="control-label col-md-4 col-sm-4" for="init_data">Initial Details :</label>
										<div class="col-md-6 col-sm-6">
											<p><b>CHILD NAMES: </b><i>{{ init_data.first_name }} {{ data.surname }}</i></p>
		                                    <p><b>DATE OF BIRTH: </b><i>{{ init_data.date_of_birth }}</i></p>
		                                    <p><b>SEX: </b><i>{{ init_data.sex_id|gen_value:vals }}</i></p>
		                                    <p><b>AGE: </b><i>{{ init_data.date_of_birth|gen_age }} YRS (APPROX)</i></p>
										</div>
									</div>
                                    <div class="form-group">
										<label class="control-label col-md-4 col-sm-4" for="household_economics">House economic status * :</label>
										<div class="col-md-6 col-sm-6">
												{{ form.household_economics }}
										</div>
										<a href="#" data-toggle="tooltip" title="Describe household economic status"><i class="fa fa-info-circle fa-sm"></i></a>
									</div>
									<div class="form-group">
										<label class="control-label col-md-4 col-sm-4" for="family_status">Family status * :</label>
										<div class="col-md-6 col-sm-6">
												{{ form.family_status }}
										</div>										
										<a href="#" data-toggle="tooltip" title="Describe family status"><i class="fa fa-info-circle fa-sm"></i></a>
									</div>
									<div class="form-group">
										<label class="control-label col-md-4 col-sm-4" for="tribe">Close Friends * :</label>
										<div class="col-md-6 col-sm-6">
											<b>
											<ul id="friends_list" class="white" placeholder="type">
	                                        </ul>
	                                        </b>
	                                        {{ form.friends }}
										</div>
										<a href="#" data-toggle="tooltip" title="List close friends"><i class="fa fa-info-circle fa-sm"></i></a>
									</div>
									<div class="form-group">
										<label class="control-label col-md-4 col-sm-4" for="tribe">Hobbies * :</label>
										<div class="col-md-6 col-sm-6">
											<b>
											<ul id="hobbies_list" class="white" placeholder="type">

	                                        </ul>
	                                        </b>
	                                        {{ form.hobbies }}
										</div>
										<a href="#" data-toggle="tooltip" title="List hobbies"><i class="fa fa-info-circle fa-sm"></i></a>
									</div>
                                </div>
                                <!-- end row -->
							</fieldset>
						</div>
						<!-- end wizard step-2 -->

						<!-- begin wizard step-3 -->
						<div class="wizard-step-3">
							<fieldset>
                                <legend class="pull-left width-full">Medical</legend>
                                <div class="row">
									<div class="form-group">
										<label class="control-label col-md-4 col-sm-4" for="child_in_school">Mental condition * :</label>
										<div class="col-md-6 col-sm-6">
												{{ form.mental_condition }}
										</div>
										<a href="#" data-toggle="tooltip" title="Select mental condition"><i class="fa fa-info-circle fa-sm"></i></a>
									</div>
									<div class="form-group">
										<label class="control-label col-md-4 col-sm-4" for="school_category">Physical condition * :</label>
										<div class="col-md-6 col-sm-6">
												{{ form.physical_condition }}
										</div>
										<a href="#" data-toggle="tooltip" title="Select physical condition"><i class="fa fa-info-circle fa-sm"></i></a>
									</div>
									<div class="form-group">
										<label class="control-label col-md-4 col-sm-4" for="school_category">Other condition * :</label>
										<div class="col-md-6 col-sm-6">
												{{ form.other_condition }}
										</div>
										<a href="#" data-toggle="tooltip" title="Select other conditions if any"><i class="fa fa-info-circle fa-sm"></i></a>
									</div>
                                </div>
							</fieldset>
						</div>
						<!-- end wizard step-3 -->						

						<!-- begin wizard step-4 -->
					    <div class="wizard-step-4">
						    <fieldset>
                                <!-- end row -->
								<legend class="pull-left width-full">Case Data</legend>
                                <!-- begin row -->
                                <div class="row">
                                	<div class="form-group">
										<label class="control-label col-md-4 col-sm-4" for="serial_number">Case Serial Number * :</label>
										<div class="col-md-6 col-sm-6">
												{{ form.serial_number }}
										</div>
										<a href="#" data-toggle="tooltip" title="Enter case serial number"><i class="fa fa-info-circle fa-sm"></i></a>
									</div>
	                            	<div class="form-group">
										<label class="control-label col-md-4 col-sm-4" for="perpetrator_first_name">Perpetrator/Offender Name(s) * :</label>
										<div class="col-md-2 col-sm-6">
												{{ form.perpetrator_first_name }}
										</div>
										<div class="col-md-2 col-sm-6">
												{{ form.perpetrator_other_names }}
										</div>
										<div class="col-md-2 col-sm-6">
												{{ form.perpetrator_surname }}
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-4 col-sm-4" for="perpetrator_relationship">Relationship to Child * :</label>
										<div class="col-md-6 col-sm-6">
												{{ form.perpetrator_relationship }}
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-4 col-sm-4" for="place_of_event">Place of Event * :</label>
										<div class="col-md-6 col-sm-6">
												{{ form.place_of_event }}
										</div>
									</div> 
									<div class="form-group">
										<label class="control-label col-md-4 col-sm-4" for="case_nature">Case Nature * :</label>
										<div class="col-md-6 col-sm-6">
												{{ form.case_nature }}
										</div>
									</div> 
									<div class="form-group">
										<label class="control-label col-md-4 col-sm-4" for="risk_level">Risk Level * :</label>
										<div class="col-md-6 col-sm-6">
												{{ form.risk_level }}
										</div>
									</div> 
									<div class="form-group">
										<label class="control-label col-md-4 col-sm-4" for="risk_level">Immediate Needs * :</label>
										<div class="col-md-6 col-sm-6">
											<b>
											<ul id="immediate_needs_list" class="white" placeholder="type">
	                                        </ul>
	                                        </b>
	                                        {{ form.immediate_needs }}
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-4 col-sm-4" for="risk_level">Future Needs * :</label>
										<div class="col-md-6 col-sm-6">
											<b>
											<ul id="future_needs_list" class="white" placeholder="type">
	                                        </ul>
	                                        </b>
	                                        {{ form.future_needs }}
										</div>
									</div>
									<!--
									<div class="form-group">
										<label class="control-label col-md-4 col-sm-4" for="risk_level"> Refferal Destination * :</label>
										<div class="col-md-6 col-sm-6">
												<b>{{ form.refferal_destination_type }}</b>
										</div>
									</div> 
									-->
									<div class="form-group">
										<label class="control-label col-md-4 col-sm-4" for="risk_level"> Case Remarks * :</label>
										<div class="col-md-6 col-sm-6">
												<b>{{ form.case_remarks }}</b>
										</div>
									</div>   
                                </div>
                            </fieldset>
                        </div>
						<!-- end wizard step-4 -->

						<!-- begin wizard step-5 -->
						<div class="wizard-step-5">
							<div id="refferal_intervention_msgs" class="alert alert-danger fade in" style="display:none;">
                                    <span class="close" data-dismiss="alert">×</span>
                                    <i class="fa fa-close fa-2x pull-left"></i>
                                    <ul class="messages">
                                       <p></p>
                                    </ul>
                            </div>

                            <fieldset>
                                <legend class="pull-left width-full">Referrals/Interventions</legend>  
                               	<table id="refferals_manager_table" class="table table-striped table-bordered">
                           	 		<thead>
	                                    <tr id="id_inputHeaders">
	                                    	<th>#</th>
	                                        <th>Case Category(s)</th>
	                                        <th>Date Of Event</th>
	                                        <th>Intervention(s)</th>
	                                        <th>Referral(s)</th>
	                                        <th>Actions</th>
	                                    </tr>
	                                </thead>
	                                <tbody>
	                                <tr id="id_row0">
	                                		<td>#</td>
			                                <td>
			                                {{ form.case_category }}
			                                <span id="sel_case_category" style="color:#000099"></span>
			                                <div id="case_category_errormsg" style="display:none;">
                                                <span><p class="dialog_paragraph">This value is required</p></span>
                                            </div>
			                                </td>

			                                <td>
			                                {{ form.date_of_event }}
			                                <div id="date_of_event_errormsg" style="display:none;">
                                                <span><p class="dialog_paragraph">This value is required</p></span>
                                            </div>
			                                </td>

			                                <td>
			                                {{ form.intervention }}
			                                <span id="sel_intervention" style="color:#000099"></span>
			                                <div id="intervention_errormsg" style="display:none;">
                                                <span><p class="dialog_paragraph">This value is required</p></span>
                                            </div>
			                                </td>

			                                <td>
			                                {{ form.refferal_to }}
			                                <span id="sel_refferal_to" style="color:#000099"></span>
			                                <div id="refferal_to_errormsg" style="display:none;">
                                                <span><p class="dialog_paragraph">This value is required</p></span>
                                            </div>
			                                </td>

			                                <td>
				                                <button id="btnSaveChanges" type="button" class="btn btn-sm btn-white m-r-5" style="display:none" onClick="SaveRow()">
				                                	<i class="fa fa-save"></i>&nbsp; <b>Save</b>
				                                </button>
				                                <button id="btnCancelChanges" type="button" class="btn btn-sm btn-white m-r-5" style="display:none" onClick="CancelRow()">
				                                	<i class="fa fa-close"></i>&nbsp; <b>Cancel</b>
				                                </button>
			                                </td>
	                                </tr>
	                                <tr></tr>
	                                {% for resultset in resultsets %}
	                                	{% regroup resultset by case_grouping_id as case_grouping_id_list %}
		                                	{% for case_grouping_id in case_grouping_id_list %}	                        	
				                                <tr id="id_inputElements{{ forloop.counter }}">
				                                	<td>
				                                	{{ forloop.counter }}				                                	
				                                	<div id="span_case_grouping_id" style="display:none">
					                            		<span>{{ case_grouping_id.list|gen_case_grouping_id }}</span>
					                            	</div>
				                                	</td>

				                                	<td>
				                                	{% for item in case_grouping_id.list %}
				                                		{{ item.case_category|gen_value2 }}
				                                		<br>
					                            	{% endfor %}
					                            	</td>

					                                <td>
					                                {{ case_grouping_id.list|gen_date_of_event }}
					                            	</td>

					                                <td>
					                                {% autoescape off %}
					                                	{{  case_grouping_id.list|gen_intervention }} 
					                                {% endautoescape %}
					                                </td>

					                                <td>
					                                {% autoescape off %}
					                                	{{  case_grouping_id.list|gen_refferal }}
					                                {% endautoescape %}
					                                </td>

					                                <td>
						                                <button id="btnEdit{{ forloop.counter }}" type="button" class="btn btn-sm btn-link m-r-5" onClick="EditRow({{ forloop.counter }})">
						                                	<i class="fa fa-edit"></i>&nbsp; <b>Edit</b>
						                                </button>
					                                </td>
					                            <tr>
				                            {% endfor %}
			                        {% endfor %}
	                                </tbody>
                           	 	</table>
							</fieldset>
						</div>
						<!-- end wizard step-5 -->

					</div>
					
	                <div class="panel panel-inverse" data-sortable-id="form-validation-1">
	                    <div class="panel-body panel-form">
							<div class="form-group">
								<label class="control-label col-md-4 col-sm-4"></label>
								<div class="col-md-6 col-sm-6">
								    <p></p>
									<button id="mysubmit2" type="submit" class="btn btn-primary">Update</button>
									<button class="btn btn-default" onClick="fnCancel()">Back</button>
									<p></p>
								</div>
							</div>
	                    </div>
	                </div>
				</form>
            </div>
        </div>
        <!-- end panel -->
    </div>
    <!-- end col-12 -->
</div>
<!-- end row -->
<!-- End content area -->
{% endblock %}

{% block lazy_javascript_code %}
<script src="{% static 'js/apps.js' %}"></script>
<script src="{% static 'plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
<script src="{% static 'js/form-wizards.js' %}"></script>
<script src="{% static 'plugins/bootstrap-multiselect/dist/js/bootstrap-multiselect.js' %}"></script>
<script src="{% static 'js/tag-it.js' %}"></script>
<script src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table-locale-all.min.js' %}"></script>
<script type="text/javascript">
function fnCancel()
{
	return window.location.href='{% url 'forms_registry' %}';
}
function SaveRow()
{	var CaseManagementData = new Array();
	var case_category = $('#case_category').val();
	var date_of_event = $('#date_of_event').val();
	var intervention = $('#intervention').val();
	var refferal_to = $('#refferal_to').val();
    var data = new Array();
    var csrftoken = $.cookie('csrftoken');
    var values = {  
                    'csrfmiddlewaretoken': csrftoken
                 };
    if(case_category)
	{
		if(date_of_event)
		{
			if(intervention)
			{
				if(refferal_to)
				{
					CaseManagementData = {
		                "case_category" : case_category,
		                "date_of_event" : date_of_event,
		                "interventions" : intervention,
		                "refferals_to" : refferal_to
		            }
		        }
		        else
				{
					$("#refferal_to_errormsg").css({ 'display': "block" });
					$("#refferal_intervention_msgs").css({ 'display': "block" }); 
        			$('#refferal_intervention_msgs p').html('Please fill the missing values');
				}
		    }
		    else
			{
				$("#intervention_errormsg").css({ 'display': "block" });
				$("#refferal_intervention_msgs").css({ 'display': "block" }); 
        		$('#refferal_intervention_msgs p').html('Please fill the missing values');
			}
		}
		else
		{
			$("#date_of_event_errormsg").css({ 'display': "block" });
			$("#refferal_intervention_msgs").css({ 'display': "block" }); 
        	$('#refferal_intervention_msgs p').html('Please fill the missing values');
		}
	}
	else
	{
		$("#case_category_errormsg").css({ 'display': "block" });
		$("#refferal_intervention_msgs").css({ 'display': "block" }); 
        $('#refferal_intervention_msgs p').html('Please fill the missing values'); 
	} 		 
}
function CancelRow()
{
	 // Clear Input Elements
	 $('#date_of_event').val(''); 
     $("#case_category").multiselect("clearSelection");
     $("#intervention").multiselect("clearSelection");
     $("#refferal_to").multiselect("clearSelection");

    // Show Save/Cancel Buttons For This edit
    $("#btnSaveChanges").css({ 'display': "none" }); 
    $("#btnCancelChanges").css({ 'display': "none" }); 

    // Reset/Clear <Spans>
    $( "#sel_case_category").html('');
    $( "#sel_intervention").html('');
    $( "#sel_refferal_to").html('');
}
function EditRow(rowIndex)
{
	rowId = 'id_inputElements' + String(rowIndex)
	var span_case_grouping_id = $("#" + rowId + " span:eq(0)").text(); 
	var csrftoken = $.cookie('csrftoken');
	var values = {  
                    'csrfmiddlewaretoken': csrftoken,
                    'span_case_grouping_id': span_case_grouping_id
                 };
	$.ajax({
        url: '{% url 'manage_refferal003' %}',
        dataType: "json",
        method: 'POST',
        contentType: 'application/x-www-form-urlencoded',
        data: values,
        success: function(result)
        {
        	//On success - Get Json From View/Populate Multiselects
        	var case_categorys;
        	var interventions;
        	var referrals;
        	var date_of_events;
        	$.each(result, function(i, val) {
                case_categorys = val.case_category_list;
                date_of_events = val.date_of_event_list;
                interventions = val.intervention_list;
                referrals = val.referral_list;
            });
        	 
        	$('#date_of_event').datepicker('setDate', new Date(date_of_events[0]));

            $("#case_category").val(case_categorys);
            $("#case_category").multiselect("refresh");
            $('#case_category').trigger('change');

            $("#intervention").val(interventions);
            $("#intervention").multiselect("refresh");
            $('#intervention').trigger('change');

            $("#refferal_to").val(referrals);
            $("#refferal_to").multiselect("refresh");
            $('#refferal_to').trigger('change');

            // Show Save/Cancel Buttons For This edit
            $("#btnSaveChanges").css({ 'display': "block" }); 
            $("#btnCancelChanges").css({ 'display': "block" }); 
        },
        error: function(e)
        {
            console.log(e)
        }
    });
}
</script>
<script type="text/javascript">
jQuery(document).ready(function() 
{
	//get CheckBox value
	var checkBoxValue = $('#case_reporter_first_name').val();
	if(checkBoxValue == 'SELF-REPORTER')
	{
		$('#self_reporter').prop('checked',true);
		$('#div_reporter_names').hide();
        //$('#div_reporter_contacts').hide();
        $('#div_reporter_relationship_to_child').hide();
        $('#case_reporter_first_name').attr('data-parsley-required', 'false');
        $('#case_reporter_surname').attr('data-parsley-required', 'false');
        //$('#case_reporter_contacts').attr('data-parsley-required', 'false');
        $('#case_reporter_relationship_to_child').attr('data-parsley-required', 'false');
	}
	else
	{
		$('#self_reporter').prop('checked',false);
		$('#div_reporter_names').show();
        //$('#div_reporter_contacts').hide();
        $('#div_reporter_relationship_to_child').show();
        $('#case_reporter_first_name').attr('data-parsley-required', 'true');
        $('#case_reporter_surname').attr('data-parsley-required', 'true');
        //$('#case_reporter_contacts').attr('data-parsley-required', 'false');
        $('#case_reporter_relationship_to_child').attr('data-parsley-required', 'true');
	}

	//multi selects
	$('#gliving_in, #case_category, #intervention, #refferal_to').multiselect({
		selectAllValue: 'multiselect-all',
		includeSelectAllOption: true,
		enableCaseInsensitiveFiltering: true,
		numberDisplayed: 1,
		maxHeight: 300,
		buttonWidth: '100%',
		buttonClass: 'btn btn-white',
		//dropLeft: true,
	});

	var friends_list = new Array();
	var hobbies_list = new Array();
	var immediate_needs_list = new Array();
	var future_needs_list = new Array();         
	$('#immediate_needs_list').tagit(
	{
		placeholderText:'Type need + ENTER',
		removeConfirmation: true,

		afterTagAdded: function(event, ui)
		{
		// do something special
		var immediate_needs_list = $("#immediate_needs_list").tagit("assignedTags");
		$("#immediate_needs").val(immediate_needs_list)
		//console.log(friends_list);
		},

		afterTagRemoved : function(event, ui)
		{
		// do something special
		var immediate_needs_list = $("#immediate_needs_list").tagit("assignedTags");
		$("#immediate_needs").val(immediate_needs_list)
		//console.log(friends_list);
		}
	});

	$('#future_needs_list').tagit(
	{
		placeholderText:'Type need + ENTER',
		removeConfirmation: true,

		afterTagAdded: function(event, ui)
		{
		// do something special
		var future_needs_list = $("#future_needs_list").tagit("assignedTags");
		$("#future_needs").val(future_needs_list)
		//console.log(friends_list);
		},

		afterTagRemoved : function(event, ui)
		{
		// do something special
		var future_needs_list = $("#future_needs_list").tagit("assignedTags");
		$("#future_needs").val(future_needs_list)
		//console.log(friends_list);
		}
	});

	$('#friends_list').tagit(
	{
		placeholderText:'Type names + ENTER',
		removeConfirmation: true,

		afterTagAdded: function(event, ui)
		{
		// do something special
		var friends_list = $("#friends_list").tagit("assignedTags");
		$("#friends").val(friends_list)
		//console.log(friends_list);
		},

		afterTagRemoved : function(event, ui)
		{
		// do something special
		var friends_list = $("#friends_list").tagit("assignedTags");
		$("#friends").val(friends_list)
		//console.log(friends_list);
		}
	});

	$('#hobbies_list').tagit(
	{
		placeholderText:'Type hobby + ENTER',
		removeConfirmation: true,

		afterTagAdded: function(event, ui)
		{
		// do something special
		var hobbies_list = $("#hobbies_list").tagit("assignedTags");
		$("#hobbies").val(hobbies_list)
		//console.log(friends_list);
		},

		afterTagRemoved : function(event, ui)
		{
		// do something special
		var hobbies_list = $("#hobbies_list").tagit("assignedTags");
		$("#hobbies").val(hobbies_list)
		//console.log(friends_list);
		}
	});

	$('#data-table1').bootstrapTable(
    { 
        toggle: 'table', 
        search: 'true',
        locale: 'en-US',
        pagination: 'true',
        pageNumber: 1,
        pageSize: 5,
        //showRefresh: true,
        showToggle: true,
        //showColumns: true,
        singleSelect: true,
        clickToSelect:true,
        maintainSelected: true,
        
        onClickRow: function (row, $element)
        {
        }
        
    });

    $('#data-table-tbgr').bootstrapTable(
    { 
        toggle: 'table', 
        search: 'true',
        locale: 'en-US',
        pagination: 'true',
        pageNumber: 1,
        pageSize: 5,
        //showRefresh: true,
        showToggle: true,
        //showColumns: true,
        singleSelect: true,
        clickToSelect:true,
        maintainSelected: true,
        
        onClickRow: function (row, $element)
        {

			alert('We Just Picked You!')
        }
        
    });

    $("#case_category").change(function(event) 
	{ 
		displayVals("case_category");
	});
	$('#case_category').trigger('change');

	$("#intervention").change(function(event) 
	{ 
		displayVals("intervention");
	});
	$('#intervention').trigger('change');

	$("#refferal_to").change(function(event) 
	{ 
		displayVals("refferal_to");
	});
	$('#refferal_to').trigger('change');

	$("#date_case_opened").change(function(event) 
	{ 
	    var date_case_opened = $('#date_case_opened').datepicker('getDate');
	    var new_date_case_opened = date_case_opened.getDate() + '/' 
	    							+ (date_case_opened.getMonth() + 1) + '/' 
	    							+ date_case_opened.getFullYear(); 

	    // Reconfigure date_of_event
	    $('#date_of_event').val('');
	    $('#date_of_event').datepicker('remove');
	    $('#date_of_event').datepicker({ 
			endDate: new_date_case_opened,
			format: 'dd-M-yyyy'
		});
	});

	// Get PersonID()
	$('#person').val(localStorage.getItem("person_id"));

	//Load immediate_needs
	var immediate_needs = $('#immediate_needs').val()
	var immediate_needs = immediate_needs.replace('[','');
	var immediate_needs = immediate_needs.replace(']','');
	var immediate_needs_array = immediate_needs.split(',') ;
	for(var i=0, l = immediate_needs_array.length; i < l; i++)
	{
	    $("#immediate_needs_list").tagit("createTag", 
	    	immediate_needs_array[i].replace("'","").replace("'",""));	
	}

    //Load future_needs
	var future_needs = $('#future_needs').val()
	var future_needs = future_needs.replace('[','');
	var future_needs = future_needs.replace(']','');
	var future_needs_array = future_needs.split(',') ;
	for(var i=0, l = future_needs_array.length; i < l; i++)
	{
	    $("#future_needs_list").tagit("createTag", 
	    	future_needs_array[i].replace("'","").replace("'",""));	
    }

    //Load hobbies
	var hobbies = $('#hobbies').val()
	var hobbies = hobbies.replace('[','');
	var hobbies = hobbies.replace(']','');
	var hobbies_array = hobbies.split(',') ;
	for(var i=0, l = hobbies_array.length; i < l; i++)
	{
	    $("#hobbies_list").tagit("createTag", 
	    	hobbies_array[i].replace("'","").replace("'",""));	
    }

    //Load friends
	var friends = $('#friends').val()
	var friends = friends.replace('[','');
	var friends = friends.replace(']','');
	var friends_array = friends.split(',') ;
	for(var i=0, l = friends_array.length; i < l; i++)
	{
	    $("#friends_list").tagit("createTag", 
	    	friends_array[i].replace("'","").replace("'",""));	
	}

	// handle CheckBox Checked/Unchecked
	$('#self_reporter').change(function()
	{
		//if checked
		if($(this).is(":checked"))
		{
			//Hide reporter Qs and remove parsely
			$('#checkbox_text')[0].innerHTML = '(Please uncheck to capture Reporter)'
	        $('#div_reporter_names').hide();
	        //$('#div_reporter_contacts').hide();
	        $('#div_reporter_relationship_to_child').hide();

	        // Reset Controls For Reporter
	        $('#case_reporter_first_name').val('');
	        $('#case_reporter_surname').val('');
	         $('#case_reporter_other_names').val('');
	        //$('#case_reporter_contacts').val('');
	        $('#case_reporter_relationship_to_child').val('');

	        $('#case_reporter_first_name').attr('data-parsley-required', 'false');
	        $('#case_reporter_surname').attr('data-parsley-required', 'false');
	        //$('#case_reporter_contacts').attr('data-parsley-required', 'false');
	        $('#case_reporter_relationship_to_child').attr('data-parsley-required', 'false');
		}
		else
		{
			//if not checked
			//Show reporter Qs and Add parsely 
			$('#checkbox_text')[0].innerHTML = '(Please check for Self-Reporter)'
	        $('#div_reporter_names').show();
	        //$('#div_reporter_contacts').show();
	        $('#div_reporter_relationship_to_child').show();

	        $('#case_reporter_first_name').attr('data-parsley-required', 'true');
	        $('#case_reporter_surname').attr('data-parsley-required', 'true');
	        //$('#case_reporter_contacts').attr('data-parsley-required', 'true');
	        $('#case_reporter_relationship_to_child').attr('data-parsley-required', 'true');
	    }
	});

	$('html,body').scrollTop(0);
	FormWizardValidation.init();
});
</script>
<script type="text/javascript">
function displayVals(value)
{
	var selections = [];
	$("#" + value + " option:selected").each(function () 
	{
		var $this = $(this);
		if ($this.length)
		{
			var selText = $this.text();
			selections.push(selText);
			//console.log(selText);
		}
	});

	$( "#sel_"+value ).html(selections.join( ",<br>" ));
}
</script>
<!--
   <script type="text/javascript">
   $(function () {
     $('#new_case_record').parsley().on('form:validate', function (formInstance) {
       var ok = formInstance.isValid('group0', true) || formInstance.isValid('group1', true) || formInstance.isValid('group2', true) || formInstance.isValid('group3', true) || formInstance.isValid('group4', true) || formInstance.isValid('group5', true);
       $(".alert").show();
       $('.invalid-form-message')
         .html(ok ? '' : 'You must correctly fill the mandatory fields.')
         .toggleClass('filled', !ok);
       if (!ok){
         formInstance.validationResult = false;
       }else{
         $(".alert").hide();
       }
     });
   });
   </script>
   -->
   <!--
    <script type="text/javascript">
   $(function () {
     $('#new_case_record').parsley().on('form:validate', function (formInstance) {
       var ok = formInstance.isValid('group0', true) || formInstance.isValid('group1', true) || formInstance.isValid('group2', true) || formInstance.isValid('group3', true) || formInstance.isValid('group4', true) || formInstance.isValid('group5', true);
       $(".alert").show();
       $('.invalid-form-message')
         .html(ok ? '' : 'You must correctly fill the mandatory fields.')
         .toggleClass('filled', !ok);
       if (!ok){
         formInstance.validationResult = false;
       }else{
         $(".alert").hide();
       }
     });
   });
   </script>
   -->
{% endblock %}
