{% extends 'base.html' %}
{% block page_title %} Dashboard {% endblock %}

{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
	<li><a href="#">Home</a></li>
	<li class="active">Dashboard</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Dashboard <small>header small text goes here...</small></h1>
<!-- end page-header -->

<!-- begin row -->
<div class="row">
    <!-- Start content area -->
    
	<!-- End content area -->
</div>
<!-- end row -->
{% endblock %}

{% block lazy_javascript_code %}
    <script src="/static/js/dashboard.js"></script>
	<script src="/static/js/apps.js"></script>
	<script>
		$(document).ready(function() {
			App.init();
			Dashboard.init();
		});
	</script>
{% endblock %}