{% extends 'base.html' %}
{% block page_title %} Dashboard {% endblock %}

{% block secondary %}
<!-- begin login -->
<div class="login animated fadeInDown">
    <!-- begin brand -->
    <div class="login-header">
        <div class="brand">
            LOGIN<small>Provide your credentials to login.</small>
        </div>
        <div class="icon">
            <i class="fa fa-sign-in"></i>
        </div>
    </div>
    <!-- end brand -->
    <div class="login-content">
        {{ msg }}
        <form action="/login/" method="POST" class="margin-bottom-0">
            {% csrf_token %}
            {{ form.as_table }}
            <div class="login-buttons">
                <button type="submit" class="btn btn-success btn-block btn-lg">Log in</button>
            </div>
            <div class="m-t-20 m-b-40 p-b-40">
                    Not registered? Click <a href="{% url 'register' %}">here</a> to register.
            </div>
        </form>
    </div>
</div>
<!-- end login -->
{% endblock secondary %}
