{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %} OVC Care Home {% endblock %}

{% load crispy_forms_tags %}

{% block style_code %}
<link href="{% static 'plugins/bootstrap-multiselect/dist/css/bootstrap-multiselect.css' %}" rel="stylesheet">
{% endblock %}

{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
	<li><a href="#">Home</a></li>
	<li class="active">OVC Care</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header"><i class="fa fa-child"></i> OVC Care <small>Home</small></h1>
<!-- end page-header -->
<div id="messages" class="alert alert-danger fade in" style="display: none;" tabindex="1">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <span class="invalid-form-message" id="invalid-form-message"></span>
</div>

<!-- #form-chooser-dialog -->
<div class="modal fade" id="form-chooser-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h4 class="modal-title">
                <div id="form-chooser-dialog-header">
                    <p><i class="fa fa-info-circle"></i>&nbsp;Choose Form</p>      
                </div>
                </h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-default m-b-0">
                    <h4> 
                    <small>
                     {{ form.form_type }}
                    </small>
                    </h4>                    
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>
<!-- #end-form-chooser-dialog -->

<!-- begin row -->
<div class="row">
<div class="row">
  <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>                      
                <h4 class="panel-title">OVC search</h4>
            </div>
            <!-- start panel body -->
            <div class="panel-body">
               <form class="form-inline" action="{% url 'ovc_home' %}" method="POST"  data-parsley-validate="true">
                   {% csrf_token %}
                    <div class="form-group m-r-10">
                        {{ form.search_name }}
                    </div>
                    <div class="form-group m-r-10">
                        {{ form.search_criteria }}
                    </div>
                    <div class="checkbox m-r-10">
                        <label>
                            {{ form.person_deceased }} <span>Include Exited</span>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary m-r-5"><i class="fa fa-search"></i>&nbsp;Search</button>
                    <a href="{% url 'new_person' %}">
                       <button type="button" class="btn btn-sm btn-primary m-r-5"><i class="fa fa-plus"></i>&nbsp;Register New</button>
                    </a>
                </form>
                <br/><br/>
                {% if persons %}
                <div class="table-responsive">
                <table id="data-table" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th width="5%">ID</th>
                            <th>First Name</th>
                            <th>Surname</th>
                            <th>Sex</th>
                            <th>Date of Birth</th>                       
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for ovc in ovcs %}
                        <tr>
                             <td>{{ ovc.person.id }}</td>
                             <td>{{ ovc.person.first_name }}</td>
                             <td>{{ ovc.person.surname }}</td>
                             <td>{{ ovc.person.sex_id }}</td>
                             <td>{{ ovc.person.date_of_birth }}</td>
                             <td>
                             {% if ovc.registration_date.year == 1900 %}
                             <a href="{% url 'ovc_register' id=ovc.person.id %}"><button type="button" class="btn btn-sm btn-danger m-r-5"><i class="fa fa-pencil"></i>&nbsp;Finish Registration</button></a>
                             {% else %}
                             <a href="{% url 'ovc_view' id=ovc.person.id %}"><button type="button" class="btn btn-sm btn-primary m-r-5"><i class="fa fa-binoculars"></i>&nbsp;View OVC</button></a>

                             <a href="{% url 'ovc_edit' id=ovc.person.id %}"><button type="button" class="btn btn-sm btn-primary m-r-5"><i class="fa fa-pencil"></i>&nbsp;Edit OVC</button></a>

                             <button type="button" class="btn btn-sm btn-primary m-r-5" onClick="OpenForm({{ ovc.person.id }})"><i class="fa fa-check-square-o"></i>&nbsp;Fill Forms</button>
                             {% endif %}

                             </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
                {% endif %}
            </div>
            <!-- end panel body -->
        </div>
        <!-- end panel -->  
    </div>
    <!-- end col-12 -->
</div>
<!-- end row -->
</div>
</div>
{% endblock %}

{% block lazy_javascript_code %}
<script src="{% static 'plugins/bootstrap-multiselect/dist/js/bootstrap-multiselect.js' %}"></script>
<script>
$(document).ready(function() 
{
    //multi selects
    $('#form_type').multiselect({
        selectAllValue: 'multiselect-all',
        includeSelectAllOption: true,
        enableCaseInsensitiveFiltering: true,
        numberDisplayed: 1,
        maxHeight: 300,
        buttonWidth: '100%',
        buttonClass: 'btn btn-white'
    });
});
</script>
<script type="text/javascript">
function OpenForm(id)
{
    $('#form-chooser-dialog').modal('show');
    $("#form_type").multiselect("clearSelection");
    $("#form_type").multiselect("refresh");

    $("#form_type").change(function(event) 
    {
        var form_type = $("#form_type").val();
        if(form_type == 'FCSI') 
        { 
            return window.location.href='{% url 'new_csi' id=0 %}'.replace("0", id); 
        } 
        if(form_type == 'FHSA') 
        { 
            return window.location.href='{% url 'new_hhva' id=0 %}'.replace("0", id); 
        } 
        if(form_type == 'FSAM') 
        { 
            return window.location.href='{% url 'new_form1a' id=0 %}'.replace("0", id); 
        }    
    });
}
</script>
{% endblock %}
